*{
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

body #heading{
    padding-top: 3%;
    padding-bottom: 3% ;
    /* background-color: red; */
    text-align: center;
}


/* both Avatar and Code  Divisions */
body #avatarDiv, #codeDiv{
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;

    margin-top: 5%;
    margin-bottom: 1%;
    padding: 20px;
    text-align: center;
}


body #generate-btn
{
    padding-top: 20px;
    padding-bottom: 20px;
}





body #inputsRow{
    padding-left: 25%;
    padding-right: 25%;
}


pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }

#linkBox {
    text-align: center;
    font-weight: 600;
}

#linkBox #urlCodeBlock{
    text-align: left;
}


